{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.movie_list'|trans }}
{% endblock %}

{% block body %}
    <div>
        <a href="{{ url('movie_index') }}" title="{{ 'action.movie_list'|trans }}">
            {{ 'action.movie_list'|trans }}
        </a>
    </div>
    <h1>{{ 'title.movie_list'|trans }}</h1>

    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination,'label.id'|trans, 'm.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'm.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.year'|trans, 'm.year') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.rate'|trans, 'm.rate') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.boxoffice'|trans, 'm.boxoffice')  }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.country'|trans, 'c.name') }}</th>
                <th>{{ 'label.more'|trans }}</th>
                <th>{{ 'label.edit'|trans }}</th>
                <th>{{ 'label.delete'|trans }}</th>
            </tr>
            </thead>
            <tbody>

            {% for movie in pagination %}
                <tr>

                    <td>{{ movie.id }}</td>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.year }}</td>
                    <td>{{ movie.rate }}</td>
                    <td>{{ movie.boxoffice }}</td>
                    <td>{{ movie.country.name }}</td>
                    <td>
                        <a href="{{ url('user_view', {id: movie.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('user_edit', {id: movie.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('user_delete', {id: movie.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>


    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

    <div>
        <form action="{{ url('user_new') }}">
            <input type="submit" value="{{ 'action.new'|trans }}" />
        </form><br>
    </div>

    <div>
        <form action="{{ url('user_change_pass', {id: app.user.id}) }}">
            <input type="submit" value="{{ 'action.change_your_pass'|trans }}" />
        </form><br>
    </div>

    <div>
        <form action="{{ url('user_change_data', {id: app.user.userdata.id}) }}">
            <input type="submit" value="{{ 'action.change_your_data'|trans }}" />
        </form><br>
    </div>

{% endblock %}