{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.movie_view'|trans({'%id%': movie.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.movie_view'|trans({'%id%': movie.id|default('')}) }}</h1>
    {% if movie is defined and movie|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ movie.id }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{ movie.title }}</dd>

            <dt>{{ 'label.image'|trans }}</dt>
            <dd>
                {% if movie.photo is defined and movie.photo|length %}
                    <div>
                        <img alt="photo" src="{{ asset('uploads/photos/'~ movie.photo.file.filename) }}">
                    </div>
                {% else %}
                    {% include 'default/_single_flash_message.html.twig' with {
                        type: 'warning',
                        message: 'message.item_not_found'|trans
                    } %}
                {% endif %}</dd>

            <dt>{{ 'label.year'|trans }}</dt>
            <dd>{{ movie.year }}</dd>
            <dt>{{ 'label.rate'|trans }}</dt>
            <dd>{{ movie.rate }}</dd>
            <dt>{{ 'label.boxoffice'|trans }}</dt>
            <dd>{{ movie.boxoffice }}</dd>
            <dt>{{ 'label.country'|trans }}</dt>
            <dd>{{ movie.country.name }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{ movie.category.name }}</dd>
            <dt>{{ 'label.director'|trans }}</dt>
            <dd>{{ movie.director.name }}</dd>
            <dt>{{ 'label.screenwriter'|trans }}</dt>
            <dd>{{ movie.screenwriter.name }}</dd>
           <dt>{{ 'label.actors'|trans }}</dt>
            <dd>{% for actor in movie.actors %}
                    {{actor.name}}{% if not loop.last %},{% endif %}
                {% endfor %} </dd>
            <dt>{{ 'label.added'|trans }}</dt>
            <dd>{{ movie.author.userdata.firstName }}</dd>
            <dt>{{ 'label.reviews'|trans }}</dt>
            <table class="table table-striped">
                <tr>
                    <th>{{ 'label.review-content'|trans }}</th>
                    <th>{{ 'label.review-rate'|trans }}</th>
                    <th>{{ 'label.review-date'|trans }}</th>
                    <th>{{ 'label.review-author'|trans }}</th>
                </tr>
                {% for review in movie.reviews %}

                <tr>
                    <td>{{review.content}}</td>
                    <td>{{review.rate}}</td>
                    <td>{{review.date|localizeddate}}</td>
                    <td>{{review.author.userdata.firstName}}</td>

                    </tr>
                {% endfor %}

            </table>


    {% if movie.photo is defined and movie.photo|length %}
        <div>
            <form action="{{ url('photo_new', {id: movie.id}) }}">
                <input type="submit" value="{{ 'action.edit_photo'|trans }}" />
            </form><br>
        </div>

        <div>
            <form action="{{ url('photo_delete', {id: movie.photo.id}) }}">
                <input type="submit" value="{{ 'action.delete_photo'|trans }}" />
            </form><br>
        </div>
        {% else %}
            <div>
                <form action="{{ url('photo_new', {id: movie.id}) }}">
                    <input type="submit" value="{{ 'action.add_photo'|trans }}" />
                </form><br>
            </div>
        {% endif %}

                <dd>
                    <a href="{{ url('user_index') }}" title="{{ 'label.back'|trans }}">
                        {{ 'label.back'|trans }}
                    </a>
                </dd>
        </dl>
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}